<%- include('../layouts/frontend/header.ejs') %>
    <main>
        <section style="height: calc(100vh - 100px)">
            <center>
                <br>
                <br>
                <br>
                <h1> About</h1>
            </center>
        </section>
    </main>
<%- include('../layouts/frontend/footer.ejs') %>
